@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    color: #333;

}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 100px auto;
}

h1{
    margin-bottom: 20px;
}

a{
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background: #7494ec
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;

}

th, td{
     border-bottom: 1px solid #ddd;
     padding: 15px;

}
th{
    text-align: left;

}
.btn-delete{
    background: red;
    margin-left: 5px;

}

.design{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;

}

.form-design{
    background: #fff;
    width: 800px;
    padding: 50px 60px 70px;
    border-radius: 20px;
}
.form-design h1{
    text-align: center;

}

input, select,textarea{
    width: 100%;
    margin: 15px 0;
    padding: 12px;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

textarea{
    height: 150px;
    resize: none;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.btn-box button{
    padding: 8px 50px;
    border: none;
    font-size: 20px;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    background: #7494ec;
}

.btn-box a{
    background: transparent;
    color: #7494ec;
    border: 5px solid #7494ec;
    padding: 10px 50px;
}

